<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Calendrier</title>
    <link rel="stylesheet" href="calendar.component.css">
<header>
    <nav><a href="">gestion des affectations</a></nav>
</header>
</head>
<body>
    
    <table class="tableau-style">
    <thead class="téte">
      <tr>
        <td>Groupes</td>
        <td>Lundi</td>
        <td>Mardi</td>
        <td>Mercredi</td>
        <td>Jeudi</td>
        <td>Vendredi</td>
        <td>Samedi</td>
      </tr>
    </thead>
    <tbody>
        <tr>
            <td>Groupe1</td>
            <td>
                <label for="effectuer"></label>
                <select name="effectuer" id="" class="n">
                    <option value="">module</option>
                <option value="DT">El Hadji Bassirou Touré</option>
                <option value="FL">fondement du logiciel (10 semaines)</option>
                </select>
            </td>
            <td>
                <label for="effectuer"></label>
                <select name="effectuer" id="" class="n">
                    <option value="">module</option>
                <option value="">Amadou Ndiaye</option>
                <option value="PO">Projet Opérationnel (10 semaines)</option>
                </select>
            </td>
            <td>
                <label for="effectuer"></label>
                <select name="effectuer" id="" class="n">
                    <option value="">module</option>
                <option value="">Fatoumata Traoré</option>
                <option value="PF">Programmation fonctionnelle (10 semaines)</option>
                </select>
            </td>
            <td>
                <label for="effectuer"></label>
                <select name="effectuer" id="" class="n">
                    <option value="">module</option>
                <option value="">Khalifa Sylla</option>
                <option value="AA">Algorithme avancé (10 semaines)</option>
                </select>
            </td>
            <td><label for="effectuer"></label>
                <select name="effectuer" id="" class="n">
                    <option value="">module</option>
                <option value="">El Hadji Bassirou Touré</option>
                <option value="FL">fondement du logiciel (10 semaines)</option>
                </select></td>
            <td>
            <label for="effectuer"></label>
                <select name="effectuer" id="" class="n">
                    <option value="">module</option>
                <option value="PO">Joseph Sega Ndione</option>
                <option value="AA">Expérience Utilisateur (10 semaines)</option>
                </select>
            </td>
        </tr>
        <tr>
            <td>Groupe2</td>
            <td><label for="non effectuer"></label>
               <select name=" non effectuer" id="" class="n">
                    <option value="">module</option>
                <option value="">Fatoumata Traoré</option>
                <option value="PF">Programmation fonctionnelle (10 semaines)</option>
                </select>
            </td>
            <td><label for="effectuer"></label>
                <select name="effectuer" id="" class="n">
                    <option value="">module</option>
                <option value="PO">Projet Opérationnel</option>
                <option value="BDA">Base données avancée (10 semaines)</option>
                </select>
            </td>
            <td>
                <label for="effectuer"></label>
                <select name="effectuer" id="" class="n">
                    <option value="">module</option>
                <option value="">Joseph Sega Ndione</option>
                <option value="DT">Design thinkink (10 semaines)</option>
                </select>
            </td>
            <td>
                <label for="effectuer"></label>
                <select name="effectuer" id="" class="n">
                    <option value="">module</option>
                <option value="">Khalifa Sylla</option>
                <option value="AA">Algorithme avancé (10 semaines)</option>
                </select>
            </td>
            <td>
                <label for="effectuer"></label>
                <select name="effectuer" id="" class="n">
                    <option value="">module</option>
                <option value="">Alla Lo</option>
                <option value="IA">Intelligence Artificielle (10 semaines)</option>
                </select>
            </td>
            <td><label for="effectuer"></label>
                <select name="effectuer" id="" class="n">
                    <option value="">module</option>
                <option value="">El Hadji Bassirou Touré</option>
                <option value="FL">fondement du logiciel (10 semaines)</option>
                </select>
            </td>
        </tr>
        <tr>
            <td>Groupe3</td>
            <td>
                <label for="effectuer"></label>
                <select name="effectuer" id="" class="n">
                    <option value="">module</option>
                <option value="">Khalifa Sylla</option>
                <option value="AA">Algorithme avancé (10 semaines)</option>
                </select>
            </td>
            <td>
            <label for="non effectuer"></label>
                <select name="non effectuer" id="" class="n">
                    <option value="">module</option>
                <option value="">Joseph Sega Ndione</option>
                <option value="UX">Expérience Utilisateur (10 semaines)</option>
                </select>
            </td>
            <td>
                <label for="effectuer"></label>
                <select name="effectuer" id="" class="n">
                    <option value="">module</option>
                <option value="PO">Amadou Ndiaye</option>
                <option value="AA">Projet Opérationnel (10 semaines)</option>
                </select>
            </td>
            <td>
                <label for="effectuer"></label>
                <select name="effectuer" id="" class="n">
                    <option value="">module</option>
                <option value="">Fatoumata Traoré</option>
                <option value="PO">Progammation fonctionnelle (10 semaines)</option>
                </select>
            </td>
            <td>
                <label for="effectuer"></label>
                <select name="effectuer" id="" class="n">
                    <option value="">module</option>
                <option value="">Joseph Sega Ndione</option>
                <option value="DT">Design thinkink (10 semaines)</option>
                
                </select>
            </td>
            <td>
                <label for="effectuer"></label>
                <select name="effectuer" id="" class="n">
                    <option value="">module</option>
                <option value="">Mouhamadou Touré</option>
                <option value="BDA">Base données avancée (10 semaines)</option>
                </select>
            </td>
        </tr>
        <tr>
            <td>Groupe4</td>
            <td>
                <label for="effectuer"></label>
                <select name="effectuer" id="" class="n">
                    <option value="">module</option>
                <option value="">El Hadji Bassirou Touré</option>
                <option value="FL">fondement du logiciel (10 semaines)</option>
                </select>
            </td>
            <td>
                <label for="effectuer"></label>
                <select name="effectuer" id="" class="n">
                    <option value="">module</option>
                <option value="">Khalifa Sylla</option>
                <option value="AA">Algorithme avancé (10 semaines)</option>
                </select>
            </td>
            <td>
                <label for="non effectuer"></label>
                <select name="non effectuer" id="" class="n">
                    <option  value="">module</option>
                <option value="">Alla Lo</option>
                <option value="IA">Intelligence Artificielle (10 semaines)</option>
                
                </select>
            </td>
            <td>
                <label for="effectuer"></label>
                <select name="effectuer" id="" class="n">
                    <option value="">module</option>
                <option value="">Joseph Sega Ndione</option>
                <option value="DT">Design thinkink (10 semaines)</option>
                </select>
            </td>
            <td>
                <label for="effectuer"></label>
                <select name="effectuer" id="" class="n">
                    <option value="">module</option>
                <option value="">Amadou Ndiaye</option>
                <option value="PO">Projet Opérationnel (10 semaines)</option>
                
                </select>
            </td>
            <td>
                <label for="effectuer"></label>
                <select name="effectuer" id="" class="n">
                    <option value="">module</option>
                <option value="">Fatoumata Traoré</option>
                <option value="PF">Programmation fonctionnelle (10 semaines)</option>
                </select>
            </td>
        </tr>
        <tr>
            <td>Groupe5</td>
            <td>
                <label for="effectuer"></label>
                <select name="effectuer" id="" class="n">
                    <option value="">module</option>
                <option value="">Joseph Sega Ndione</option>
                <option value="UX">Expérience Utilisateur (10 semaines)</option>
                </select>
            </td>
            <td>
                <label for="effectuer"></label>
                <select name="effectuer" id="" class="n">
                    <option value="">module</option>
                <option value="">Khalifa Sylla</option>
                <option value="AA">Algorithme avancé (10 semaines)</option>
                </select>
            </td>
            <td>
                <label for="effectuer"></label>
                <select name="effectuer" id="" class="n">
                    <option value="">module</option>
                <option value="">El Hadji Bassirou Touré</option>
                <option value="FL">fondement du logiciel (10 semaines)</option>
                </select>
            </td>
            <td>
                <label for="effectuer"></label>
                <select name="effectuer" id="" class="n">
                    <option value="">module</option>
                <option value="">Joseph Sega Ndione</option>
                <option value="DT">Design thinkink (10 semaines)</option>
                </select>
            </td>
            <td>
                <label for="effectuer"></label>
                <select name="effectuer" id="" class="n">
                    <option value="">module</option>
                <option value="">Alla Lo</option>
                <option value="IA">Intelligence Artificielle (10 semaines)</option>
                </select>
            </td>
            <td>
                <label for="effectuer"></label>
                <select name="effectuer" id="" class="n">
                    <option value="">module</option>
                <option value="">Fatoumata Traoré</option>
                <option value="PF">Progammation fonctionnelle (10 semaines)</option>
                </select>
            </td>
        </tr>
        <tr>
            <td>Groupe6</td>
            <td>
                <label for="effectuer"></label>
                <select name="effectuer" id="" class="n">
                    <option value="">module</option>
                <option value="PO">Mouhamadou Touré</option>
                <option value="AA">Base de données avancée (10 semaines)</option>
                </select>
            </td>
            <td>
                <label for="effectuer"></label>
                <select name="effectuer" id="" class="n">
                    <option value="">module</option>
                <option value="">El Hadji Bassirou Touré</option>
                <option value="FL">fondement du logiciel (10 semaines)</option>
                </select>
            </td>
            <td>
                <label for="effectuer"></label>
                <select name="effectuer" id="" class="n">
                    <option value="">module</option>
                <option value="">Khalifa Sylla</option>
                <option value="AA">Algorithmes avancés (10 semaines)</option>
                
                </select>
            </td>
            <td>
                <label for="effectuer"></label>
                <select name="effectuer" id="" class="n">
                    <option value="">module</option>
                <option value="">Amadou Ndiaye</option>
                <option value="PO">Projet Opérationnel (10 semaines)</option>
                </select>
            </td>
            <td>
                <label for="non effectuer"></label>
                <select name="non effectuer" id="" class="n">
                    <option value="">module</option>
                <option value="">Joseph Sega Ndione</option>
                <option value="UX">Expérience Utilisateur (10 semaines)</option>
                </select>
            </td>
            <td>
                <label for="effectuer"></label>
                <select name="effectuer" id="" class="n">
                    <option value="">module</option>
                <option value="">Joseph Sega Ndione</option>
                <option value="DT">Design thinkink (10 semaines)</option>
                </select>
            </td>
        </tr>
        <tr>
            <td>Groupe7</td>
            <td>
                <label for="effectuer"></label>
                <select name="effectuer" id="" class="n">
                    <option value="">module</option>
                <option value="">Allo Lo</option>
                <option value="IA">Intelligence Artificielle (10 semaines)</option>
                
                </select>
            </td>
            <td>
                <label for="effectuer"></label>
                <select name="effectuer" id="" class="n">
                    <option value="">module</option>
                <option value="">Fatoumata Traoré</option>
                <option value="PF">Prgrammation fonctionnelle (10 semaines)</option>
                
                </select>
            </td>
            <td>
                <label for="effectuer"></label>
                <select name="effectuer" id="" class="n">
                    <option value="">module</option>
                <option value="">Mouhamadou Touré</option>
                <option value="BDA">Base de données avancée (10 semaines)</option>
                
                </select>
            </td>
            <td>
                <label for="effectuer"></label>
                <select name="effectuer" id="" class="n">
                    <option value="">module</option>
                <option value="">Khalifa Sylla</option>
                <option value="AA">Algorithme avancé (10 semaines)</option>
                
                </select>
            </td>
            <td>
                <label for="effectuer"></label>
                <select name="effectuer" id="" class="n">
                    <option value="">module</option>
                <option value="">El Hadji Bassirou Touré</option>
                <option value="FL">fondement du logiciel (10 semaines)</option>
                </select>
            </td>
            <td>
                <label for="non effectuer"></label>
                <select name="non effectuer" id="" class="n">
                    <option value="">module</option>
                <option value="">Amadou Ndiaye</option>
                <option value="PO">Projet opérationnel (10 semaines)</option>
                </select>
            </td>
        </tr>
    </tbody>
    </table>
</body>
</html>
